html {
  margin: 0;
  height: 100%;
  overflow: hidden
}
body {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #34495E;
  ;
}

/*
header {

  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
*/
#logo {
  position: absolute;
  left: 5%;
  top: 5%;
}

#game {
  width: 50%;
  height: 50%;
  margin-top: 10%;
  margin-right: auto;
  margin-bottom: 10%;
  margin-left: auto;

}

#bcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

}

#acontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;

}

#ccontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;

}

.space {
  width: 30%;
  height: 30%;
  background-color: #446CB3;
  color: white;
  position: relative;

}
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.left {
  justify-content:flex-start;

}

.center {
  justify-content: center;

}

.right {
  justify-content: flex-end;

}
.space p {
  font-size: 64px;
  margin: 0;
   position: absolute;               /* 2 */
   top: 50%;
   left: 40%;                         /* 3 */
   transform: translate(0, -50%) }   /* 4 */
}

#control {
  height: 40%;
  width: 100%;
  background-color: white;

}

#message {
  height: 30%;
  width: 100%;
  background-color: #C0392B;
}
#board{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  font-family: helvetica;
  color: white;
  margin-top: 10px;
}

#player {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
align-items: center;
justify-content: space-around;
width: 100%;
height: 20%;
font-size: 24px;
background-color: #22313F;
color: white;
padding-top: 2%;
padding-bottom: 2%;


}
#player-one {
justify-content:flex-start;
text-align: center;
height: 60%;
width:40%;
font-size: 24px;
margin: auto;
}

#player-two {
justify-content:flex-end;
text-align: center;
width: 40%;
height:60%;
font-size: 24px;
margin: auto;
}
.playerbox {
  background-color: #34495E;
}

.active-player {
  background-color: red;

}

#p-one-score {
}

#p-two-score {
}

#action {
  text-align: center;
}

#play {
  background-color: #ff6600;
  color: white;
  font-size: 18px;
  margin: 10px;
}


