html {

  margin: 0;
  height: 100%;
  overflow: hidden
}
body {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden
}

header {

  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#play {
  background-color: red;
  color: white;
  font-size: 48px;
}
#game {
  width: 60%;
  height: 60%;
  margin-top: 10%;
  margin-right: auto;
  margin-bottom: 10%;
  margin-left: auto;

}

#bcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5%;

}

#acontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;

}

#ccontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;

}

.space {
  width: 30%;
  height: 30%;
  background-color: blue;
  color: white;
  margin: 5px;
  text-align: center;
  vertical-align: center;

}

.left {
  justify-content:flex-start;

}

.center {
  justify-content: center;

}

.right {
  justify-content: flex-end;

}
p {
  padding-top: 30%;
  padding-bottom: 30%;
}
#bottom {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: 20%;
font-size: 24px;
background-color: black;
color: white;


}
#player-one {
justify-content:flex-start;
text-align: center;
vertical-align: center;
height: 60%;
width:40%;
font-size: 24px;
background-color: grey;
margin-top: 2%;


}

#player-two {
justify-content:flex-end;
text-align: center;
vertical-align: center;
width: 40%;
height:60%;
font-size: 24px;
background-color: grey;
margin-top: 2%;

}

.active-player {
border-style: solid;
border-width: 5px;
border-color: red;

}

footer {
  width: 100%;
  height:10%;
}
#board{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: green;
  font-size: 30px;
  font-family: helvetica;
  color: white;
  margin-top: 10px;
}
